<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobiledevpro.locationservice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service
            android:name="com.mobiledevpro.locationservice.LocationService"
            android:exported="false" />

    </application>

</manifest>
